// link your local fonts here
/*
Source Serif Pro Regular
font-family: source-serif-pro, serif;
font-weight: 400;
font-style: normal;

Source Serif Pro Bold
font-family: source-serif-pro, serif;
font-weight: 700;
font-style: normal;

Source Serif Pro Semibold
font-family: source-serif-pro, serif;
font-weight: 600;
font-style: normal;

Source Serif Pro Light
font-family: source-serif-pro, serif;
font-weight: 300;
font-style: normal;
*/
