// define your site level wrapper properties here
.wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url('../img/site-bg.jpg');

  // box-shadow: 0 0 10px 0px rgba(0,0,0,0.3); // try it

  @include tablet {
    width: $tablet-width;
  }

  @include desktop {
    width: $desktop-width;
  }
}
