.about {
  background-image: url('../img/about-bg-mobile@1x.png');
  background-position: top 167px left 0;
  background-repeat: no-repeat;

  @include retina {
    background-image: url('../img/about-bg-mobile@2x.png');
    background-size: 320px 342px;
  }

  @include tablet {
    background-image: url('../img/leaf-2.png'),
      url('../img/about-bg-tablet@1x.png');
    background-position: top 118px left 36px, top 265px left 0;

    @include retina {
      background-image: url('../img/leaf-2.png'),
        url('../img/about-bg-tablet@2x.png');
      background-size: 46px 46px, 764px 465px;
    }
  }

  @include desktop {
    position: relative;
    background-image: url('../img/leaf-2.png'),
      url('../img/about-bg-desktop@1x.png');
    background-position: top 90px left 36px, top 295px left 0;

    @include retina {
      background-image: url('../img/leaf-2.png'),
        url('../img/about-bg-desktop@2x.png');
      background-size: 46px 46px, 1273px 611px;
    }
  }

  &__content {
    padding-top: 360px;
    font-size: 16px;
    color: $text-color-secondary;
    text-align: center;

    @include tablet {
      display: flex;
      padding-top: 420px;
    }

    @include desktop {
      display: block;
      padding-top: 115px;
      padding-right: 70px;
      padding-bottom: 100px;
      padding-left: 710px;
      font-size: 18px;
    }
  }

  &__box {
    padding: 5px 0;

    @include tablet {
      width: 50%;
      padding-right: 20px;
      text-align: left;
    }

    @include desktop {
      width: auto;
    }

    &--right {
      @include tablet {
        padding-top: 63px;
        padding-left: 13px;
      }

      @include desktop {
        padding-top: 0;
        padding-left: 0;
      }
    }
  }

  &__text {
    padding: 10px 0;

    &--desktop {
      display: none;

      @include desktop {
        display: block;
      }
    }
  }

  &__contacts {
    padding-bottom: 15px;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 10px 40px 6px 0;
    border-bottom: 2px solid #1c1c1c;
    font-weight: 600;
    text-transform: uppercase;

    @include desktop {
      padding-top: 20px;
      transition: 0.2s;

      &:hover {
        color: $green;
        border-bottom-color: $green;

        &::after {
          background-color: $green;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 18px;
      right: 0;
      display: block;
      width: 27px;
      height: 2px;
      background-color: #1c1c1c;

      @include desktop {
        transition: 0.2s;
      }
    }
  }

  &__position {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
  }

  &__side-soc {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%) rotate(90deg);
  }
}
