.about {
  background-image: url('../img/about-bg-mobile@1x.png');
  background-position: top 167px left 0;
  background-repeat: no-repeat;

  @include retina {
    background-image: url('../img/about-bg-mobile@2x.png');
    background-size: 320px 342px;
  }

  @include tablet {
    background-image: url('../img/leaf-5.png'),
      url('../img/about-bg-tablet@1x.png');
    background-position: top 118px left 16px, top 265px left 0;

    @include retina {
      background-image: url('../img/leaf-5.png'),
        url('../img/about-bg-tablet@2x.png');
      background-size: 97px 62px, 764px 465px;
    }
  }

  &__content {
    padding-top: 360px;
    font-size: 16px;
    color: $text-color-secondary;
    text-align: center;

    @include tablet {
      display: flex;
      padding-top: 420px;
    }
  }

  &__box {
    padding: 5px 0;

    @include tablet {
      width: 50%;
      padding-right: 20px;
      text-align: left;
    }

    &--right {
      @include tablet {
        padding-top: 63px;
        padding-left: 13px;
      }
    }
  }

  &__text {
    padding: 10px 0;

    &--desktop {
      display: none;

      @include desktop {
        display: block;
      }
    }
  }

  &__contacts {
    padding-bottom: 15px;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 10px 40px 6px 0;
    border-bottom: 2px solid #1c1c1c;
    font-weight: 600;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      top: 18px;
      right: 0;
      display: block;
      width: 27px;
      height: 2px;
      background-color: #1c1c1c;
    }
  }
}
