.contact-item {
  padding: 5px 0;
  text-align: center;

  &__text {
    color: #4e4e4e;

    @include tablet {
      font-size: 18px;
    }
  }

  &__slash {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
    font-weight: 700;
    color: $green;

    @include tablet {
      font-size: 22px;
      padding: 0 10px;
    }
  }

  &__link {
    color: #4e4e4e;

    @include tablet {
      font-size: 18px;
    }
  }
}
