.footer {
  @include tablet {
    background-image: url('../img/leaf-1.png'), url('../img/leaf-2.png');
    background-repeat: no-repeat;
    background-size: 28px 24px, 46px 46px;
    background-position: top 50% left 36px, top 0 right 35px;
  }

  @include desktop {
    background-image: url('../img/leaf-1.png');
    background-position: top 200px left 36px;
  }
}
