.intro {
  padding: 130px 0;
  color: #fff;

  &__title {
    padding: 21px 0 10px;
  }

  &__text {
    padding: 4px 35px 20px 0;
    font-size: 14px;
    font-weight: 300;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 15px 40px 8px 0;
    border-bottom: 2px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: inherit;
    letter-spacing: 2px;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      top: 20px;
      right: 0;
      display: block;
      width: 27px;
      height: 2px;
      background-color: #fff;
    }
  }
}
