.nav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
  // transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s;

  &--visible {
    width: 100%;
    opacity: 1;
  }

  @include tablet {
    background-image: url('../img/leaf-1.png'), url('../img/leaf-2.png');
    background-position: top 95px right 205px, left 105px bottom 175px;
    background-size: 28px 24px, 46px 46px;
    background-repeat: no-repeat;
  }

  @include desktop {
    position: static;
    z-index: auto;
    top: auto;
    left: auto;
    display: block;
    width: auto;
    height: auto;
    background: none;
    opacity: 1;
  }

  &__list {
    text-align: center;

    @include desktop {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include desktop {
      margin-right: 20px;
      margin-bottom: 0;
      margin-left: 20px;
    }

    &--portfolio {
      @include desktop {
        display: none;
      }
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid $green;
    font-size: 22px;
    font-weight: 600;
    color: $text-color-primary;

    @include tablet {
      font-size: 36px;
      border-bottom-width: 6px;
    }

    @include desktop {
      display: inline;
      border-bottom: none;
      font-size: 18px;
      font-weight: 400;
      color: rgba($text-color-primary-rgb, 0.6);
    }
  }
}
