.plan-item {
  padding-bottom: 70px;

  @include tablet {
    padding-bottom: 0;
  }

  &--last {
    padding-bottom: 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    color: $green;

    @include tablet {
      padding-right: 22px;
      padding-left: 22px;
    }

    @include desktop {
      padding: 25px 80px;
    }
  }

  &__title-hours {
    margin-right: auto;

    @include desktop {
      font-size: 24px;
    }
  }

  &__title-price {
    margin-left: auto;

    @include desktop {
      font-size: 18px;
    }
  }

  &__list {
    font-size: 16px;
    color: $text-color-primary;
    text-align: center;

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: 18px;
    }
  }

  &__image {
    max-width: none;
  }
}
