.plans {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  &__item-1 {
    @include tablet {
      margin-top: 100px;
    }

    @include desktop {
      margin-top: 173px;
    }
  }

  &__item-2 {
    @include tablet {
      margin: 0 17px;
    }
  }

  &__item-3 {
    @include tablet {
      margin-top: 115px;
    }

    @include desktop {
      margin-top: 200px;
    }
  }
}
