.social {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  @include desktop {
    padding-top: 50px;
  }

  &__item {
    margin: 0 13px;

    @include desktop {
      margin: 0 15px;
    }
  }

  &__img {
    @include tablet {
      width: 34px;
      height: 34px;
    }
  }
}
